$fontFamily: 'MedievalSharp', cursive;
$generalImage: '../images/tile_light_bg.jpg';
$headerImage: '../images/tile_overlayed_bg.jpg';
$footerImage: '../images/tile_dark_bg.jpg';

#root{
  background-image: url($generalImage);
  position:absolute;
  width:100%;
  height:100%;
  font-family: $fontFamily;
}
.container-form{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form {
  margin-left: 40px;
}

input{
  font-size: 2em;
  margin-bottom: 8px;
  font-family: $fontFamily;
}
button, .button{
  height: 80%;
  padding: 15px 20px 15px 20px;
  font-size: 1em;
  background-color: #000000;
  color: #FFFFFF;
  font-family: $fontFamily;

    &:hover {
      cursor: pointer;
      border: solid black 1px;
      background-color: #FFFFFF;
      color: #000000;
    }
}

