.landing{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landing-image{
  width: 100%;
  height: 80%;
}

.landing-welcome{
  box-sizing: content-box;
  font-size: p5em;
}
.errorLogin{
  color: darkred;
  display: flex;
  justify-content: space-between;
}